body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: maroon;
  color: #fff;
  padding: 5px;
  text-align: center;
  font-family: 'Agbalumo';
  font-size: 24pt;
}



a{
  text-decoration: none;
}

section {
  color: black;
  display: flex;
  overflow-y: auto;
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  font-family: "Amaranth";
}

img {

  max-width: 96%;
  border: 5pt ridge maroon
}



canvas{
  margin: 20px;
}

.gamelink{
  color: black;
}

.titlelink{
  color: #fff;
}

.gameframe{
  margin-top: 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.panel {
  flex: 0 0 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.panel:hover {
  transform: scale(1.05);
}

.panel img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.panel-content {
  padding: 15px;
}
